.about {
   position: relative;

   align-items: center;
   justify-content: space-around;

   padding-top: 5vw;
   padding-bottom: 7vw;
   &__line-wrapper {
      position: absolute;
      display: flex;
      align-items: center;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 2vw 0;
   }
   &__line {
      display: flex;
      justify-content: space-between;
      width: 100%;
      position: sticky;
      top: 0;
   }
   &__img-wrap {
   }
   &__img-link {
   }
   &__img {
      width: 13.95vw;

      transform: translateX(-50vw);
      opacity: 0;
      transition: 1s .5s;
      &.__anim-item.__active {
         transform: translateX(0vw);
         opacity: 1;
      }
   }
   &__buttons {
      align-self: flex-end;
      margin: -3.5vw;
   }
   &__btn {
      width: calc(40px + 2.0vw);
      overflow: hidden;
      margin: 3.5vw;
      &:first-child:hover {
         transform: rotate(-15deg);
         box-shadow: 0 0 10px 0 #57b287;
      }
      &:last-child:hover {
         transform: scale(.93);
         box-shadow: 0 0 10px 0 #57b287;
      }
   }
   &__article {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-self: flex-end;

      height: 100%;
      flex: 0 1 34.6vw;
   }
   &__header {
      transform: translateX(-100vw);
      opacity: 0;
      transition: 1s;
      &.__anim-item.__active {
         transform: translateX(0vw);
         opacity: 1;
      }
   }
   &__text-wrap {
      margin-top: 1.5vw;
      margin-bottom: -.5vw;
   }
   &__paragraph-wrapper {
      margin: .5vw 0;
      &.__anim-item.__active {
         & .__to-show {
            transform: scale(1);
            opacity: 1;
         }
      }
   }
   &__paragraph {
      transform: scale(0);
      transition: 1s .5s;
   }
}

/*MEDIA QUERIES*/
/* Large desktops and laptops */
@media (min-width: 1200px) {

}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
   .about {
      padding-bottom: 10vw;
      &__line-wrapper {
         padding: 10vw 0 2vw;
      }
      &__line {
         height: 100%;
         flex-direction: column;
         align-items: center;
      }
      &__img-wrap {
         position: sticky;
         top: 0;
         display: flex;
         justify-content: center;
         flex: 0 1 100%;
      }
      &__img {
         width: 30vw;
         margin: 0 auto;
         &.__anim-item.__active {
            opacity: 0.7;
         }
      }
      &__buttons {
         flex: 0 1 20%;
         display: flex;
         justify-content: center;
         align-self: center;
         align-items: center;
         margin: auto -6vw -2vw;
      }
      &__btn {
         z-index: 1;
         margin: 2vw 6vw;
      }
      &__article {
         flex: 0 1 100%;
         height: 100%;
         order: 1;
      }
   }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
   .about {
      padding-bottom: 100px;
      &__line-wrapper {
         padding: 10vw 0 2vw;
      }
      &__line {
         height: 100%;
         flex-direction: column;
         align-items: center;
      }
      &__img-wrap {
         display: flex;
         justify-content: center;
         flex: 0 1 100%;
      }
      &__img {
         position: sticky;
         top: 5vh;
         width: 30vw;
         margin: 0 auto;
         &.__anim-item.__active {
            opacity: 0.7;
         }
      }
      &__buttons {
         flex: 0 1 20%;
         display: flex;
         justify-content: center;
         align-self: center;
         align-items: center;
         margin: -1vw -6vw -2vw;
      }
      &__btn {
         z-index: 1;
         margin: 2vw 6vw;
      }
      &__article {
         flex: 0 1 100%;
         height: 100%;
         order: 1;
      }
   }
}
/* Landscape phones and smaller */
@media (max-width: 480px) {

}
