.footer {
   position: relative;
   z-index: 1;
   background-color: #2a2d33;
   width: 100%;
   &__wrapper {
      justify-content: stretch;
   }
   &__inner {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex: 1 0 auto;
      flex-wrap: wrap;
      padding: 2.6vw 0 6.6vw 0;

      margin: 0 -1vw 0 -1vw;
   }
   &__logo {
      flex: 1 0 auto;
      margin: 0 1vw;
   }
   &__socnets {
      flex: 0 1 1px;
      margin: 0 1vw;
   }
}

/*MEDIA QUERIES*/
/* Large desktops and laptops */
@media (min-width: 1200px) {

}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}
/* Landscape phones and smaller */
@media (max-width: 480px) {

}
