.read-more {
   align-items: center;
   justify-content: space-between;

   overflow: hidden;
   padding-top: 12vw;
   padding-bottom: 10vw;

   &__article {
      flex: 0 0 40vw;
      display: flex;
      flex-direction: column;
   }
   &__header {
      transform: translateX(-100vw);
      opacity: 0;
      transition: 1s;
      &.__anim-item.__active {
         transform: translateX(0vw);
         opacity: 1;
      }
   }
   &__text-wrap {
      margin-top: 3vw;
   }
   &__paragraph {
      transform: scale(0);
      opacity: 0;
      transition: 1s .5s;
      &.__anim-item.__active {
         transform: scale(1);
         opacity: 1;
      }
   }
   &__btn {
      align-self: flex-start;
      margin-top: 3.3vw;
   }
   &__img-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 29vw;
   }
   &__img-link {
      position: relative;
   }
   &__img {
      width: 18vw;
   }
   &__img-dots {
      position: absolute;
      top: 4vw;
      left: 10.7vw;

      width: 1.5vw;
      height: 1.5vw;
      background-color: #ffffff;
      border-radius: 50%;

      transform: scale(0);
      opacity: 0;
      transition: 1s;
      &.__anim-item.__active {
         transform: scale(1);
         opacity: 1;
      }
      &::before {
         content: '';
         display: block;
         position: relative;
         top: 0vw;
         left: -2.7vw;
   
         width: 1.5vw;
         height: 1.5vw;
         background-color: #ffffff;
         border-radius: 50%;
      }
      &::after {
         content: '';
         display: block;
         position: relative;
         top: -1.5vw;
         left: 2.7vw;
   
         width: 1.5vw;
         height: 1.5vw;
         background-color: #ffffff;
         border-radius: 50%;
      }
   }
}

/*MEDIA QUERIES*/
/* Large desktops and laptops */
@media (min-width: 1200px) {

}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
   .read-more {
      flex-direction: column;
      padding-top: 17vw;
      &__img-wrap {
         display: none;
      }
      &__paragraph {
      }
   }
}
/* Landscape phones and smaller */
@media (max-width: 480px) {

}