.feedback {
   display: flex;
   flex-direction: column;
   align-items: center;

   padding: 6vw 0;

   &__header {
   }
   &__img-wrap {
      display: flex;
      justify-content: center;
      align-items: center;

      width: calc(70px + 12.0vw);
      height: calc(70px + 12.0vw);
      background-color: #be393b;
      border-radius: 50%;
      border: calc(10px + 1.0vw) solid #383939;
      overflow: hidden;
   }
   &__img-shadow {
      position: relative;
      width: calc(50px + 5vw);

      &::before {
         content: '';
         display: block;
         position: absolute;

         width: 122%;
         top: -2px;
         left: 3px;
         height: 400px;
         opacity: 0.5;
         border-radius: 10px;
         background-color: #792426;

         transform-origin: left top;
         transform: rotate(35deg);

      }
   }
   &__img {
      position: relative;
      width: 100%;

      transform: scale(8) rotate(90deg);
      transition: 2s .9s;
      &.__anim-item.__active {
         transform: scale(1) rotate(0deg);
      }
   }
   &__form {
      position: relative;
      width: 100%;
      margin-top: 4vw;
   }
   &__inputs {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      margin: -1vw -1vw;
   }
   &__input-wrap {
      overflow: hidden;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      flex: 1 1 29.7vw;
      margin: 1vw 1vw;
   }
   &__input-item {
      display: flex;
      flex: 1 1 100%;
      flex-direction: column;

      &:not(:first-child) {
         margin-top: 2vw;
      }
   }
   &__input-label {
      max-width: 100%;
      padding-top: 1.5vw;
      align-self: flex-start;
      position: relative;
      &:after {
         content: '*';
         display: block;
         position: absolute;
         top: 0vw;
         right: -1.5vw;

         color: #be393b;
         font: normal 500 calc(14px + 1.9vw) 'Roboto'; line-height: 1;
      }
   }
   &__input {
      margin-top: 1vw;
      width: 100%;

      outline: none;
      background-color: #34383c;
      border: solid 1px rgba(255, 255, 255, 0.52);
      border-radius: 10px;
      padding: 1.5vw 1vw;
      caret-color: #7e7e7e;

      transition: .5s;
      &:-webkit-autofill {
         border: solid 1px rgba(255, 255, 255, 0.52);
         -webkit-text-fill-color: rgb(175, 162, 162);
         -webkit-box-shadow: 0 0 0px 1000px  #34383c inset;
         transition: background-color 5000s ease-in-out 0s;
         &:hover {
            border: solid 1px rgba(255, 255, 255, 0.52);
            -webkit-text-fill-color: rgb(175, 162, 162);
            -webkit-box-shadow: 0 0 0px 1000px  #34383c inset;
            transition: background-color 5000s ease-in-out 0s;
         }
         &:focus {
            border: solid 1px rgba(255, 255, 255, 0.52);
            -webkit-text-fill-color: rgb(175, 162, 162);
            -webkit-box-shadow: 0 0 0px 1000px  #34383c inset;
            transition: background-color 5000s ease-in-out 0s;
         }
      }
      &.__error {
         background-color: #332323;
      }
      &:focus {
         border: solid 1px rgba(190, 57, 59, 0.49);
         background-color: #2f3136;
      }
      &:hover {
         background-color: #2f3136;
      }
   }
   &__textarea {
      margin-top: 1vw;
      flex: 1 1 1px;
      min-height: 0;

      outline: none;
      background-color: #34383c;
      border: solid 1px rgba(255, 255, 255, 0.52);
      border-radius: 10px;
      padding: 1.5vw 1vw;
      caret-color: #7e7e7e;

      resize: none;
      transition: .5s;
      &.__error {
         background-color: #332323;
         &:focus {
            background-color: #332323;
         }
      }
      &:hover {
         background-color: #2f3136;
      }
      &:focus {
         border: solid 1px rgba(190, 57, 59, 0.49);
         background-color: #2f3136;
      }
   }
   &__btn-wrapper {
      display: flex;
      justify-content: flex-end;
      flex: 0 0 100%;
      margin: -1vw -1vw;
   }
   &__btn {
      padding: 1.9vw 4.2vw;
      margin-top: 3vw;

      cursor: pointer;
      border: none;
      border-radius: 10px;
      background-color: #be393b;
      outline: none;
      
      transition: 0.3s;
      &:hover {
         background-color: #972d2f;
      }
   }
}

