//миксин для подключения файла шрифтов
@mixin font($font_name, $file_name, $weight, $style) {
   @font-face {
      font-family: $font_name;
      font-display: swap;
      src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
      font-weight: #{$weight};
      font-style: #{$style};
   }
}
@import "./fonts.scss";
@import "./reset.scss";

@import "./link/link.scss";
@import "./text/text.scss";
@import "./div-btn/div-btn.scss";

@import "./inner/inner.scss";
@import "./page/page.scss";
@import "./header/header.scss";
@import "./background/background.scss";
@import "./section/section.scss";
@import "./wrapper/wrapper.scss";
@import "./read-more/read-more.scss";
@import "./about/about.scss";
@import "./slider/slider.scss";
@import "./price/price.scss";
@import "./feedback/feedback.scss";
@import "./footer/footer.scss";
@import "./video/video.scss";

@import "./logo/logo.scss";
@import "./card/card.scss";
@import "./socnets/socnets.scss";
@import "./player/player.scss";

@import "../js/slick-1.8.1/slick/slick.scss";