.text {
   color: #ffffff;
   &--medium {
      &_001 {font: normal 400 calc(14px + 0.9vw) 'Roboto'; line-height: 1.62;}
      &_002 {font: italic 100 calc(14px + 0.6vw) 'Roboto';}
      &_003 {font: normal 400 calc(14px + 0.6vw) 'Roboto';}
      &_004 {font: normal 400 calc(14px + 1.5vw) 'Roboto';}
      &_005 {font: normal 100 calc(14px + 1.1vw) 'Roboto';}
      &_006 {font: normal 400 calc(14px + 0.7vw) 'Roboto';}
      &_007 {font: normal 500 calc(14px + 1.4vw) 'Roboto';}
      &_008 {font: normal 500 calc(14px + 1.1vw) 'Roboto';}
      &_009 {font: normal 600 calc(14px + 1.5vw) 'Roboto'; line-height: 1;}
      &_010 {font: normal 400 calc(14px + 1.1vw) 'Roboto'; line-height: 1;}


   }
   &--large {
      &_001 {font: normal 400 calc(14px + 2.4vw) 'Roboto';}
      &_002 {font: normal 400 calc(14px + 1.8vw) 'Roboto';}
      &_003 {font: normal 400 calc(14px + 1.6vw) 'RobotoSlab'; line-height: 1;}
      &_004 {font: normal 500 calc(14px + 2.6vw) 'Roboto'; line-height: 1;}
      &_005 {font: normal 500 calc(14px + 1.9vw) 'Roboto'; line-height: 1;}
      &_006 {font: normal 600 calc(14px + 1.9vw) 'Roboto'; line-height: 1;}
   }
   &--dark {
      &_001 {color: #37414e;}
      &_002 {color: #4b596c;}
      &_003 {color: #858b93;}
      &_004 {color: #6d737b;}
      &_005 {color: #768275;}
      &_006 {color: #6d737b;}
      &_007 {color: #8d8d8d;}
      &_008 {color: #656566;}
   }
   &--alternate {
      &_001 {color: #d7d7d7;}
      &_002 {color: #58ad52;}
      &_003 {color: #52a1ad;}
      &_004 {color: #efefef;}
   }
}

/*MEDIA QUERIES*/
/* Large desktops and laptops */
@media (min-width: 1200px) {
   .text {
      &--medium {
         &_010 {font: normal 400 calc(10px + 1.0vw) 'Roboto'; line-height: 1;}
      }
      &--large {
      }
   }
}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
   .text {
      &--medium {
         &_005 {font: normal 100 calc(14px + 0.9vw) 'Roboto';}
      }
      &--large {
         &_005 {font: normal 500 calc(14px + 1.4vw) 'Roboto'; line-height: 1;}
         &_006 {font: normal 600 calc(14px + 1.4vw) 'Roboto'; line-height: 1;}
      }
   }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
   .text {
      &--medium {
         &_005 {font: normal 100 calc(14px + 0.9vw) 'Roboto';}
      }
      &--large {
         &_004 {font: normal 500 calc(14px + 2.0vw) 'Roboto'; line-height: 1;}
         &_005 {font: normal 500 calc(14px + 1.4vw) 'Roboto'; line-height: 1;}
         &_006 {font: normal 600 calc(14px + 1.4vw) 'Roboto'; line-height: 1;}
      }
   }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
   .text {
      &--medium {
         &_001 {font: normal 400 calc(14px + 0.5vw) 'Roboto'; line-height: 1.5;}
         &_005 {font: normal 100 calc(14px + 0.9vw) 'Roboto';}
      }
      &--large {
         &_001 {font: normal 400 calc(14px + 2.0vw) 'Roboto';}
         &_004 {font: normal 500 calc(14px + 2.0vw) 'Roboto'; line-height: 1;}
         &_005 {font: normal 500 calc(14px + 1.4vw) 'Roboto'; line-height: 1;}
         &_006 {font: normal 600 calc(14px + 1.4vw) 'Roboto'; line-height: 1;}
      }
   }
}
/* Landscape phones and smaller */
@media (max-width: 480px) {
   .text {
      &--medium {
         &_005 {font: normal 100 calc(12px + 0.9vw) 'Roboto';}
      }
      &--large {
         &_004 {font: normal 500 calc(14px + 1.6vw) 'Roboto'; line-height: 1;}
         &_005 {font: normal 500 calc(14px + 0.5vw) 'Roboto'; line-height: 1;}
         &_006 {font: normal 600 calc(14px + 1.0vw) 'Roboto'; line-height: 1;}
      }
   }
}
